h1{
    color: orange;
    letter-spacing: -2px;
    text-transform: capitalize;
    width: 560px;
    text-shadow: 2px 2px black;
}
p{
    width: 650px;
    font-size: 20px;
    font-family: verdana, Arial, sans-serif;  
}
.p1{
    width: 650px;
    text-align: justify;
}